/* CSS declarations go here */
body {
  /*TODO: Add Proxima Nova to this;*/
}
/* Font styles */
small { font-size: 14px; }
h1 { font-weight: 500; }
/* Misc */
* {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

.welcome-msg {
  text-align: center;
}

/* Hover states */
.resume-body .header-info:hover {
  border: 1px solid #D6D6D6;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 0.1em 1em 0.3em;
}

.resume-body .skills:hover {
  border: 1px solid #D6D6D6;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 0.1em 1em 0.3em;
}

.resume-body .education:hover {
  border: 1px solid #D6D6D6;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 0.1em 1em 0.3em;
}

.resume-body .experience:hover {
  border: 1px solid #D6D6D6;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 0.1em 1em 0.3em;
}

/* Bootstrap Override */
.tooltip-inner {
  background-color: #b94a48;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #b94a48;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #b94a48;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #b94a48;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #b94a48;
}

blockquote {
  border-color: #f89406;
}