/* CSS declarations go here */
body {
  /*TODO: Add Proxima Nova to this;*/

}

small { font-size: 14px; }

/* Fun Transition Effect */
* {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

.resume-body .header-info {
  border: 1px solid #616161;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0.1em 1em 0.3em;
}

.welcome-msg {
  text-align: center;
}
.country-code {
  text-transform: uppercase;
}